body{
    font: 15px/1.5 Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    background:url('../img/background4.png') no-repeat;
    /*background-color:#f4f4f4; */
}

/* global */
.container{
    width:80%;
    margin:auto;
    overflow:hidden;
}

ul{
    margin:0;
    padding:0;
}

.button_1{
    height:38px;
    background:#e6e6e6;
    border:0;
    padding-left:20px;
    padding-right:20px;
    color:#ffffff;
}

.dark{
    padding:15px;
    box-align: center;
    background:#007099;
    color:#ffffff;
    margin-top:10px;
    margin-bottom:10px;
}

/* header */
header{
    background:#ffffff;
    color:#181B5B;
    border-bottom:#9f2842 3px solid;
    padding-top:30px;
    padding-left:90px;
    padding-right:90px;
    min-height:70px;
}

header a{
    color:#181B5B;
    text-decoration:none;
    text-transform:uppercase;
    font-size:16px;
}

header li{
    float:left;
    display:inline;
    /* top right bottom left */
    padding: 0 20px 0 20px;
}

header #branding{
    float:left;
}

header #branding h1{
    margin:0;
}

header nav{
    float:right;
    margin-top:10px;
}

header .highlight, header .current a{
    color:#9f2842;
    font-weight:bold;
}

header a:hover{
    color:#cccccc;
    font-weight:bold;
}

/* showcase */
#showcase{
    min-height:400px;
    /* background:url('../img/showcase.jpg') no-repeat -20px; */
    background: #181B5B;
    text-align:center;
    color:#ffffff;
}

#showcase h1{
    margin-top:100px;
    font-size:55px;
    margin-bottom:10px;
}

#showcase p{
    font-size:20px;
}


/* boxes */
#boxes{
    /*margin-top:20px;*/
    background-image:"../img/background.jpg";
    padding-left:20px;
    padding-right:20px;
    padding-top:40px;
    padding-bottom:40px;
}

#boxes .box{
    float:left;
    text-align:center;
    width:30%;
    margin: auto;
    padding: 20px;
}

#boxes .box img{
    width:400px;
    opacity: 1;
    filter: brightness(0.8);
    /*filter: alpha(opacity=100);*/
    border:#9f2842 5px solid;
}

#boxes .me img{
    float:left;
    text-align:center;
    width:400px;
    padding:60px;
    border-radius: 50%;
}

#boxes .box .img-top{
    display:none;
}

#boxes .box img:hover {
    filter: brightness(1.1);
    /*opacity: 0.3;*/
    filter: alpha(opacity=60);
}

/* works */
#works{
    padding-left:20px;
    padding-right:20px;
    padding-top:40px;
    padding-bottom:40px;
}

#works .work{
    float:left;
    text-align:center;
    width:30%;
    margin: auto;
    padding: 10px;
}

#works .work img{
    width:400px;
    opacity: 1;
    border:#9f2842 5px solid;
}

/* sidebar */
aside#sidebar{
    float:right;
    width:30%;
    margin-top:50px;
}

aside#sidebar .quote input, aside#sidebar .quote textarea{
    width:90%;
    padding:5px;
}

/* main-col */
article#main-col{
    float:left;
    width:65%;
}

/* services */
ul#services li{
    list-style:none;
    padding:20px;
    border:#cccccc solid 1px;
    margin-bottom:5px;
    background:#e6e6e6;
}

footer{
    padding:20px;
    color:#181B5B;
    background-color:#c5c5c5;
    text-align:center;
}

/* media queries */
@media(max-width:768px){
    header #branding,
    header nav,
    header nav li,
    #newsletter h1,
    #newsletter form,
    #boxes .box,
    article#main-col,
    aside#sidebar{
        float:none;
        text-align:center;
        width:100%;
    }

    header{
        padding-bottom:20px;
    }

    #showcase h1{
        margin-top:40px;
    }

    #newsletter button, .quote button{
        display:block;
        width:100%;
    }

    #newsletter form input[type="email"], .quote input, .quote textarea{
        width:100%;
        margin-bottom:5px;
    }
}