body{
    font: 15px/1.5 Arial, Helvetica, sans-serif;
    padding: 0;
    padding-bottom: 60px;
    margin: 0;
    background: #F4EDEA;
    /* background-color:#242424; */
}

/* global */
.container{
    margin:auto;
    overflow:hidden;
}

img.animated-gif{
    width: auto;
    height: 200px;
}

ul{
    margin:0;
    padding:0;
}


.dark{
    padding:100px;
    color:#000000;
    margin-top:10px;
    margin-bottom:10px;
    height: 400px;
    width: 400px;
    display: inline-block;
}

/* header */
header{
    background:#ffffff;
    color:#470beb;
    border-bottom:#c77241 3px solid;
    padding-top:30px;
    padding-left:90px;
    padding-right:170px;
    min-height:70px;
}

header a{
    color:#000000;
    text-decoration:none;
    /* text-transform:uppercase; */
    font-size:16px;
}

header li{
    float:left;
    display:inline;
    /* top right bottom left */
    padding: 0 20px 0 20px;
}

header #branding{
    float: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    padding: 0;
}

header #branding h1{
    font-size: 1.5em;
    margin: 0;
}

header #branding img.animated-gif{
    height: 80px;
    width: auto;
    margin: 0 auto;
    display: block;
}

header nav{
    float:left;
    margin-top:10px;
}

header .highlight, header .current a{
    color:#c77241;
    font-weight:bold;
}

header a:hover{
    color:#000000;
    font-weight:bold;
}

/* showcase */
#showcase{
    min-height:400px;
    /* background:url('../img/showcase.jpg') no-repeat -20px; */
    background: #181B5B;
    text-align:center;
    color:#ffffff;
}

#showcase h1{
    margin-top:100px;
    font-size:55px;
    margin-bottom:10px;
}

#showcase p{
    font-size:20px;
}


/* boxes */
#boxes{
    /*margin-top:20px;*/
    background-image:"../img/background.jpg";
    padding-left:5%;
    padding-right:5%;
    padding-top:5%;
    padding-bottom:5%;
}

#boxes .box{
    float:left;
    text-align:center;
    width:30%;
    margin: auto;
    padding: 1%;
    overflow:hidden;
}

#boxes .box img{
    width:90%;
    opacity: 1;
    /*filter: alpha(opacity=100);*/
    /* border:#c77241 5px solid; */
}

#boxes .me img{
    float:left;
    text-align:center;
    width:400px;
    padding:60px;
    border-radius: 50%;
}

#boxes .box .img-top{
    display:none;
}

#boxes .box img:hover {
    filter: grayscale(1);
}

/* works */
#works{
    padding-left:20px;
    padding-right:20px;
    padding-top:40px;
    padding-bottom:40px;
}

#works .work{
    float:left;
    text-align:center;
    width:30%;
    margin: auto;
    padding: 10px;
}

#works .work img{
    width:90%;
    opacity: 1;
    border:#9f2842 5px solid;
}

/* sidebar */
aside#sidebar{
    float:left;
    height: 400px;
    width: 400px;
    margin-left: 100px;
    background-color: #ffffffde;
    border-radius: 50%;
    display: inline-block;
}

aside#sidebar .quote input, aside#sidebar .quote textarea{
    width:90%;
}

/* main-col */
article#main-col{
    float:left;
    width:65%;
}

/* services */
ul#services li{
    list-style:none;
    padding:20px;
    border:#cccccc solid 1px;
    margin-bottom:5px;
    background:#e6e6e6;
}

footer{
    padding:8px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color:#181B5B;
    background-color:#ffffff;
    text-align:center;
}

/* media queries */
@media(max-width:800px){
    header #branding,
    header nav,
    header nav li,
    #newsletter h1,
    #newsletter form,
    #boxes .box,
    #works .work,
    article#main-col,
    aside#sidebar{
        float:none;
        text-align:center;
        width:100%;
    }

    header{
        padding-bottom:20px;
        padding-top:30px;
        padding-left:0%;
        padding-right:0%;
        min-height:70px;
    }

    #boxes .box{
        width:80%;
    }

    #showcase h1{
        margin-top:40px;
    }

    #newsletter button, .quote button{
        display:block;
        width:100%;
    }

    #newsletter form input[type="email"], .quote input, .quote textarea{
        width:100%;
        margin-bottom:5px;
    }
}